div.phpdebugbar-openhandler .phpdebugbar-openhandler-header a {line-height:1}
.phpdebugbar {}
.phpdebugbar dl.phpdebugbar-widgets-kvlist dt {width:350px}
.phpdebugbar dl.phpdebugbar-widgets-kvlist dd {margin-left:360px}
.phpdebugbar,
.phpdebugbar-openhandler {}
.phpdebugbar p,
.phpdebugbar-openhandler p {display:block;-webkit-margin-before:1__qem;-webkit-margin-after:1__qem;-webkit-margin-start:0;-webkit-margin-end:0}
.phpdebugbar div,
.phpdebugbar-openhandler div {display:block}
.phpdebugbar layer,
.phpdebugbar-openhandler layer {display:block}
.phpdebugbar article,
.phpdebugbar-openhandler article,
.phpdebugbar aside,
.phpdebugbar-openhandler aside,
.phpdebugbar footer,
.phpdebugbar-openhandler footer,
.phpdebugbar header,
.phpdebugbar-openhandler header,
.phpdebugbar hgroup,
.phpdebugbar-openhandler hgroup,
.phpdebugbar main,
.phpdebugbar-openhandler main,
.phpdebugbar nav,
.phpdebugbar-openhandler nav,
.phpdebugbar section,
.phpdebugbar-openhandler section {display:block}
.phpdebugbar marquee,
.phpdebugbar-openhandler marquee {display:inline-block}
.phpdebugbar address,
.phpdebugbar-openhandler address {display:block}
.phpdebugbar blockquote,
.phpdebugbar-openhandler blockquote {display:block;-webkit-margin-before:1__qem;-webkit-margin-after:1em;-webkit-margin-start:40px;-webkit-margin-end:40px}
.phpdebugbar figcaption,
.phpdebugbar-openhandler figcaption {display:block}
.phpdebugbar figure,
.phpdebugbar-openhandler figure {display:block;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:40px;-webkit-margin-end:40px}
.phpdebugbar q,
.phpdebugbar-openhandler q {display:inline}
.phpdebugbar q:before,
.phpdebugbar-openhandler q:before {content:open-quote}
.phpdebugbar q:after,
.phpdebugbar-openhandler q:after {content:close-quote}
.phpdebugbar center,
.phpdebugbar-openhandler center {display:block;text-align:-webkit-center}
.phpdebugbar hr,
.phpdebugbar-openhandler hr {display:block;-webkit-margin-before:0.5em;-webkit-margin-after:0.5em;-webkit-margin-start:auto;-webkit-margin-end:auto;border-style:inset;border-width:1px}
.phpdebugbar map,
.phpdebugbar-openhandler map {display:inline}
.phpdebugbar video,
.phpdebugbar-openhandler video {object-fit:contain}
.phpdebugbar h1,
.phpdebugbar-openhandler h1 {display:block;font-size:2em;-webkit-margin-before:0.67__qem;-webkit-margin-after:0.67em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.phpdebugbar :-webkit-any(article,aside,nav,section) h1,
.phpdebugbar-openhandler :-webkit-any(article,aside,nav,section) h1 {font-size:1.5em;-webkit-margin-before:0.83__qem;-webkit-margin-after:0.83em}
.phpdebugbar :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1,
.phpdebugbar-openhandler :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {font-size:1.17em;-webkit-margin-before:1__qem;-webkit-margin-after:1em}
.phpdebugbar :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1,
.phpdebugbar-openhandler :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {font-size:1.0em;-webkit-margin-before:1.33__qem;-webkit-margin-after:1.33em}
.phpdebugbar :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1,
.phpdebugbar-openhandler :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {font-size:.83em;-webkit-margin-before:1.67__qem;-webkit-margin-after:1.67em}
.phpdebugbar :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1,
.phpdebugbar-openhandler :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {font-size:.67em;-webkit-margin-before:2.33__qem;-webkit-margin-after:2.33em}
.phpdebugbar h2,
.phpdebugbar-openhandler h2 {display:block;font-size:1.5em;-webkit-margin-before:0.83__qem;-webkit-margin-after:0.83em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.phpdebugbar h3,
.phpdebugbar-openhandler h3 {display:block;font-size:1.17em;-webkit-margin-before:1__qem;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.phpdebugbar h4,
.phpdebugbar-openhandler h4 {display:block;-webkit-margin-before:1.33__qem;-webkit-margin-after:1.33em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.phpdebugbar h5,
.phpdebugbar-openhandler h5 {display:block;font-size:.83em;-webkit-margin-before:1.67__qem;-webkit-margin-after:1.67em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.phpdebugbar h6,
.phpdebugbar-openhandler h6 {display:block;font-size:.67em;-webkit-margin-before:2.33__qem;-webkit-margin-after:2.33em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.phpdebugbar table,
.phpdebugbar-openhandler table {display:table;border-collapse:separate;border-spacing:2px;border-color:gray}
.phpdebugbar thead,
.phpdebugbar-openhandler thead {display:table-header-group;vertical-align:middle;border-color:inherit}
.phpdebugbar tbody,
.phpdebugbar-openhandler tbody {display:table-row-group;vertical-align:middle;border-color:inherit}
.phpdebugbar tfoot,
.phpdebugbar-openhandler tfoot {display:table-footer-group;vertical-align:middle;border-color:inherit}
.phpdebugbar table >tr,
.phpdebugbar-openhandler table >tr {vertical-align:middle}
.phpdebugbar col,
.phpdebugbar-openhandler col {display:table-column}
.phpdebugbar colgroup,
.phpdebugbar-openhandler colgroup {display:table-column-group}
.phpdebugbar tr,
.phpdebugbar-openhandler tr {display:table-row;vertical-align:inherit;border-color:inherit}
.phpdebugbar td,
.phpdebugbar-openhandler td,
.phpdebugbar th,
.phpdebugbar-openhandler th {display:table-cell;vertical-align:inherit}
.phpdebugbar th,
.phpdebugbar-openhandler th {font-weight:bold}
.phpdebugbar caption,
.phpdebugbar-openhandler caption {display:table-caption;text-align:-webkit-center}
.phpdebugbar ul,
.phpdebugbar-openhandler ul,
.phpdebugbar ol,
.phpdebugbar-openhandler ol,
.phpdebugbar dl,
.phpdebugbar-openhandler dl {font-size:1em}
.phpdebugbar ul,
.phpdebugbar-openhandler ul,
.phpdebugbar menu,
.phpdebugbar-openhandler menu,
.phpdebugbar dir,
.phpdebugbar-openhandler dir {display:block;list-style-type:disc;-webkit-margin-before:1__qem;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:40px}
.phpdebugbar ol,
.phpdebugbar-openhandler ol {display:block;list-style-type:decimal;-webkit-margin-before:1__qem;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:40px}
.phpdebugbar li,
.phpdebugbar-openhandler li {display:list-item;text-align:-webkit-match-parent}
.phpdebugbar ul ul,
.phpdebugbar-openhandler ul ul,
.phpdebugbar ol ul,
.phpdebugbar-openhandler ol ul {list-style-type:circle}
.phpdebugbar ol ol ul,
.phpdebugbar-openhandler ol ol ul,
.phpdebugbar ol ul ul,
.phpdebugbar-openhandler ol ul ul,
.phpdebugbar ul ol ul,
.phpdebugbar-openhandler ul ol ul,
.phpdebugbar ul ul ul,
.phpdebugbar-openhandler ul ul ul {list-style-type:square}
.phpdebugbar dd,
.phpdebugbar-openhandler dd {display:block;-webkit-margin-start:40px}
.phpdebugbar dl,
.phpdebugbar-openhandler dl {display:block;-webkit-margin-before:1__qem;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0}
.phpdebugbar dt,
.phpdebugbar-openhandler dt {display:block}
.phpdebugbar ol ul,
.phpdebugbar-openhandler ol ul,
.phpdebugbar ul ol,
.phpdebugbar-openhandler ul ol,
.phpdebugbar ul ul,
.phpdebugbar-openhandler ul ul,
.phpdebugbar ol ol,
.phpdebugbar-openhandler ol ol {-webkit-margin-before:0;-webkit-margin-after:0}
.phpdebugbar form,
.phpdebugbar-openhandler form {display:block;margin-top:0__qem}
.phpdebugbar label,
.phpdebugbar-openhandler label {cursor:default}
.phpdebugbar legend,
.phpdebugbar-openhandler legend {display:block;-webkit-padding-start:2px;-webkit-padding-end:2px;border:none}
.phpdebugbar fieldset,
.phpdebugbar-openhandler fieldset {display:block;-webkit-margin-start:2px;-webkit-margin-end:2px;-webkit-padding-before:0.35em;-webkit-padding-start:0.75em;-webkit-padding-end:0.75em;-webkit-padding-after:0.625em;border:2px groove ThreeDFace;min-width:-webkit-min-content}
.phpdebugbar button,
.phpdebugbar-openhandler button {-webkit-appearance:button}
.phpdebugbar input,
.phpdebugbar-openhandler input,
.phpdebugbar textarea,
.phpdebugbar-openhandler textarea,
.phpdebugbar keygen,
.phpdebugbar-openhandler keygen,
.phpdebugbar select,
.phpdebugbar-openhandler select,
.phpdebugbar button,
.phpdebugbar-openhandler button,
.phpdebugbar meter,
.phpdebugbar-openhandler meter,
.phpdebugbar progress,
.phpdebugbar-openhandler progress {-webkit-writing-mode:horizontal-tb !important}
.phpdebugbar input,
.phpdebugbar-openhandler input,
.phpdebugbar textarea,
.phpdebugbar-openhandler textarea,
.phpdebugbar keygen,
.phpdebugbar-openhandler keygen,
.phpdebugbar select,
.phpdebugbar-openhandler select,
.phpdebugbar button,
.phpdebugbar-openhandler button {margin:0__qem;font:-webkit-small-control;color:initial;letter-spacing:normal;word-spacing:normal;line-height:normal;text-transform:none;text-indent:0;text-shadow:none;display:inline-block;text-align:start;width:initial;height:initial}
.phpdebugbar input[type="hidden"],
.phpdebugbar-openhandler input[type="hidden"] {display:none}
.phpdebugbar input,
.phpdebugbar-openhandler input,
.phpdebugbar input[type="password"],
.phpdebugbar-openhandler input[type="password"],
.phpdebugbar input[type="search"],
.phpdebugbar-openhandler input[type="search"] {-webkit-appearance:textfield;padding:1px;background-color:white;border:2px inset;-webkit-rtl-ordering:logical;-webkit-user-select:text;cursor:auto}
.phpdebugbar input[type="search"],
.phpdebugbar-openhandler input[type="search"] {-webkit-appearance:searchfield;box-sizing:border-box}
.phpdebugbar input::-webkit-textfield-decoration-container,
.phpdebugbar-openhandler input::-webkit-textfield-decoration-container {display:flex;align-items:center;-webkit-user-modify:read-only !important;content:none !important}
.phpdebugbar input[type="search"]::-webkit-textfield-decoration-container,
.phpdebugbar-openhandler input[type="search"]::-webkit-textfield-decoration-container {direction:ltr}
.phpdebugbar input::-webkit-clear-button,
.phpdebugbar-openhandler input::-webkit-clear-button {-webkit-appearance:searchfield-cancel-button;display:inline-block;flex:none;-webkit-user-modify:read-only !important;-webkit-margin-start:2px;opacity:0;pionter-events:none}
.phpdebugbar input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-clear-button,
.phpdebugbar-openhandler input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-clear-button {opacity:1;pointer-events:auto}
.phpdebugbar input[type="search"]::-webkit-search-cancel-button,
.phpdebugbar-openhandler input[type="search"]::-webkit-search-cancel-button {-webkit-appearance:searchfield-cancel-button;display:block;flex:none;-webkit-user-modify:read-only !important;-webkit-margin-start:1px;opacity:0;pointer-events:none}
.phpdebugbar input[type="search"]:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-search-cancel-button,
.phpdebugbar-openhandler input[type="search"]:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-search-cancel-button {opacity:1;pointer-events:auto}
.phpdebugbar input[type="search"]::-webkit-search-decoration,
.phpdebugbar-openhandler input[type="search"]::-webkit-search-decoration {-webkit-appearance:searchfield-decoration;display:block;flex:none;-webkit-user-modify:read-only !important;-webkit-align-self:flex-start;margin:auto 0}
.phpdebugbar input[type="search"]::-webkit-search-results-decoration,
.phpdebugbar-openhandler input[type="search"]::-webkit-search-results-decoration {-webkit-appearance:searchfield-results-decoration;display:block;flex:none;-webkit-user-modify:read-only !important;-webkit-align-self:flex-start;margin:auto 0}
.phpdebugbar input::-webkit-inner-spin-button,
.phpdebugbar-openhandler input::-webkit-inner-spin-button {-webkit-appearance:inner-spin-button;display:inline-block;cursor:default;flex:none;align-self:stretch;-webkit-user-select:none;-webkit-user-modify:read-only !important;opacity:0;pointer-events:none}
.phpdebugbar input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button,
.phpdebugbar-openhandler input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button {opacity:1;pointer-events:auto}
.phpdebugbar keygen,
.phpdebugbar-openhandler keygen,
.phpdebugbar select,
.phpdebugbar-openhandler select {border-radius:5px}
.phpdebugbar keygen::-webkit-keygen-select,
.phpdebugbar-openhandler keygen::-webkit-keygen-select {margin:0}
.phpdebugbar textarea,
.phpdebugbar-openhandler textarea {-webkit-appearance:textarea;background-color:white;border:1px solid;-webkit-rtl-ordering:logical;-webkit-user-select:text;flex-direction:column;resize:auto;cursor:auto;padding:2px;white-space:pre-wrap;word-wrap:break-word}
.phpdebugbar ::-webkit-input-placeholder,
.phpdebugbar-openhandler ::-webkit-input-placeholder {-webkit-text-security:none;color:darkGray;display:block !important;pointer-events:none !important}
.phpdebugbar input::-webkit-input-placeholder,
.phpdebugbar-openhandler input::-webkit-input-placeholder {white-space:pre;word-wrap:normal;overflow:hidden;-webkit-user-modify:read-only !important}
.phpdebugbar input[type="password"],
.phpdebugbar-openhandler input[type="password"] {-webkit-text-security:disc !important}
.phpdebugbar input[type="hidden"],
.phpdebugbar-openhandler input[type="hidden"],
.phpdebugbar input[type="image"],
.phpdebugbar-openhandler input[type="image"],
.phpdebugbar input[type="file"],
.phpdebugbar-openhandler input[type="file"] {-webkit-appearance:initial;padding:initial;background-color:initial;border:initial}
.phpdebugbar input[type="file"],
.phpdebugbar-openhandler input[type="file"] {align-items:baseline;color:inherit;text-align:start !important}
.phpdebugbar input:-webkit-autofill,
.phpdebugbar-openhandler input:-webkit-autofill,
.phpdebugbar textarea:-webkit-autofill,
.phpdebugbar-openhandler textarea:-webkit-autofill,
.phpdebugbar select:-webkit-autofill,
.phpdebugbar-openhandler select:-webkit-autofill {background-color:#FAFFBD !important;background-image:none !important;color:#000 !important}
.phpdebugbar input[type="radio"],
.phpdebugbar-openhandler input[type="radio"],
.phpdebugbar input[type="checkbox"],
.phpdebugbar-openhandler input[type="checkbox"] {margin:3px 0.5ex;padding:initial;background-color:initial;border:initial}
.phpdebugbar input[type="button"],
.phpdebugbar-openhandler input[type="button"],
.phpdebugbar input[type="submit"],
.phpdebugbar-openhandler input[type="submit"],
.phpdebugbar input[type="reset"],
.phpdebugbar-openhandler input[type="reset"] {-webkit-appearance:push-button;-webkit-user-select:none;white-space:pre}
.phpdebugbar input[type="file"]::-webkit-file-upload-button,
.phpdebugbar-openhandler input[type="file"]::-webkit-file-upload-button {-webkit-appearance:push-button;-webkit-user-modify:read-only !important;white-space:nowrap;margin:0;font-size:inherit}
.phpdebugbar input[type="button"],
.phpdebugbar-openhandler input[type="button"],
.phpdebugbar input[type="submit"],
.phpdebugbar-openhandler input[type="submit"],
.phpdebugbar input[type="reset"],
.phpdebugbar-openhandler input[type="reset"],
.phpdebugbar input[type="file"]::-webkit-file-upload-button,
.phpdebugbar-openhandler input[type="file"]::-webkit-file-upload-button,
.phpdebugbar button,
.phpdebugbar-openhandler button {align-items:flex-start;text-align:center;cursor:default;color:ButtonText;padding:2px 6px 3px 6px;border:2px outset ButtonFace;background-color:ButtonFace;box-sizing:border-box}
.phpdebugbar input[type="range"],
.phpdebugbar-openhandler input[type="range"] {-webkit-appearance:slider-horizontal;padding:initial;border:initial;margin:2px;color:#909090}
.phpdebugbar input[type="range"]::-webkit-slider-container,
.phpdebugbar-openhandler input[type="range"]::-webkit-slider-container,
.phpdebugbar input[type="range"]::-webkit-media-slider-container,
.phpdebugbar-openhandler input[type="range"]::-webkit-media-slider-container {flex:1;box-sizing:border-box;-webkit-user-modify:read-only !important;display:flex;-webkit-align-contents:center}
.phpdebugbar input[type="range"]::-webkit-slider-runnable-track,
.phpdebugbar-openhandler input[type="range"]::-webkit-slider-runnable-track {flex:1;-webkit-align-self:center;box-sizing:border-box;-webkit-user-modify:read-only !important;display:block}
.phpdebugbar input[type="range"]::-webkit-slider-thumb,
.phpdebugbar-openhandler input[type="range"]::-webkit-slider-thumb,
.phpdebugbar input[type="range"]::-webkit-media-slider-thumb,
.phpdebugbar-openhandler input[type="range"]::-webkit-media-slider-thumb {-webkit-appearance:sliderthumb-horizontal;box-sizing:border-box;-webkit-user-modify:read-only !important;display:block}
.phpdebugbar input[type="button"]:disabled,
.phpdebugbar-openhandler input[type="button"]:disabled,
.phpdebugbar input[type="submit"]:disabled,
.phpdebugbar-openhandler input[type="submit"]:disabled,
.phpdebugbar input[type="reset"]:disabled,
.phpdebugbar-openhandler input[type="reset"]:disabled,
.phpdebugbar input[type="file"]:disabled::-webkit-file-upload-button,
.phpdebugbar-openhandler input[type="file"]:disabled::-webkit-file-upload-button,
.phpdebugbar button:disabled,
.phpdebugbar-openhandler button:disabled,
.phpdebugbar select:disabled,
.phpdebugbar-openhandler select:disabled,
.phpdebugbar keygen:disabled,
.phpdebugbar-openhandler keygen:disabled,
.phpdebugbar optgroup:disabled,
.phpdebugbar-openhandler optgroup:disabled,
.phpdebugbar option:disabled,
.phpdebugbar-openhandler option:disabled,
.phpdebugbar select[disabled] >option,
.phpdebugbar-openhandler select[disabled] >option {color:GrayText}
.phpdebugbar input[type="button"]:active,
.phpdebugbar-openhandler input[type="button"]:active,
.phpdebugbar input[type="submit"]:active,
.phpdebugbar-openhandler input[type="submit"]:active,
.phpdebugbar input[type="reset"]:active,
.phpdebugbar-openhandler input[type="reset"]:active,
.phpdebugbar input[type="file"]:active::-webkit-file-upload-button,
.phpdebugbar-openhandler input[type="file"]:active::-webkit-file-upload-button,
.phpdebugbar button:active,
.phpdebugbar-openhandler button:active {border-style:inset}
.phpdebugbar input[type="button"]:active:disabled,
.phpdebugbar-openhandler input[type="button"]:active:disabled,
.phpdebugbar input[type="submit"]:active:disabled,
.phpdebugbar-openhandler input[type="submit"]:active:disabled,
.phpdebugbar input[type="reset"]:active:disabled,
.phpdebugbar-openhandler input[type="reset"]:active:disabled,
.phpdebugbar input[type="file"]:active:disabled::-webkit-file-upload-button,
.phpdebugbar-openhandler input[type="file"]:active:disabled::-webkit-file-upload-button,
.phpdebugbar button:active:disabled,
.phpdebugbar-openhandler button:active:disabled {border-style:outset}
.phpdebugbar option:-internal-spatial-navigation-focus,
.phpdebugbar-openhandler option:-internal-spatial-navigation-focus {outline:black dashed 1px;outline-offset:-1px}
.phpdebugbar datalist,
.phpdebugbar-openhandler datalist {display:none}
.phpdebugbar area,
.phpdebugbar-openhandler area {display:inline}
.phpdebugbar param,
.phpdebugbar-openhandler param {display:none}
.phpdebugbar input[type="checkbox"],
.phpdebugbar-openhandler input[type="checkbox"] {-webkit-appearance:checkbox;box-sizing:border-box}
.phpdebugbar input[type="radio"],
.phpdebugbar-openhandler input[type="radio"] {-webkit-appearance:radio;box-sizing:border-box}
.phpdebugbar input[type="color"],
.phpdebugbar-openhandler input[type="color"] {-webkit-appearance:square-button;width:44px;height:23px;background-color:ButtonFace;border:1px #a9a9a9 solid;padding:1px 2px}
.phpdebugbar input[type="color"]::-webkit-color-swatch-wrapper,
.phpdebugbar-openhandler input[type="color"]::-webkit-color-swatch-wrapper {display:flex;padding:4px 2px;box-sizing:border-box;-webkit-user-modify:read-only !important;width:100%;height:100%}
.phpdebugbar input[type="color"]::-webkit-color-swatch,
.phpdebugbar-openhandler input[type="color"]::-webkit-color-swatch {background-color:#000;border:1px solid #777;flex:1;-webkit-user-modify:read-only !important}
.phpdebugbar input[type="color"][list],
.phpdebugbar-openhandler input[type="color"][list] {-webkit-appearance:menulist;width:88px;height:23px}
.phpdebugbar input[type="color"][list]::-webkit-color-swatch-wrapper,
.phpdebugbar-openhandler input[type="color"][list]::-webkit-color-swatch-wrapper {padding-left:8px;padding-right:24px}
.phpdebugbar input[type="color"][list]::-webkit-color-swatch,
.phpdebugbar-openhandler input[type="color"][list]::-webkit-color-swatch {border-color:#000}
.phpdebugbar input::-webkit-calendar-picker-indicator,
.phpdebugbar-openhandler input::-webkit-calendar-picker-indicator {display:inline-block;width:0.66em;height:0.66em;padding:0.17em 0.34em;-webkit-user-modify:read-only !important;opacity:0;pointer-events:none}
.phpdebugbar input::-webkit-calendar-picker-indicator:hover,
.phpdebugbar-openhandler input::-webkit-calendar-picker-indicator:hover {background-color:#eee}
.phpdebugbar input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-calendar-picker-indicator,
.phpdebugbar-openhandler input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-calendar-picker-indicator,
.phpdebugbar input::-webkit-calendar-picker-indicator:focus,
.phpdebugbar-openhandler input::-webkit-calendar-picker-indicator:focus {opacity:1;pointer-events:auto}
.phpdebugbar input[type="date"]:disabled::-webkit-clear-button,
.phpdebugbar-openhandler input[type="date"]:disabled::-webkit-clear-button,
.phpdebugbar input[type="date"]:disabled::-webkit-inner-spin-button,
.phpdebugbar-openhandler input[type="date"]:disabled::-webkit-inner-spin-button,
.phpdebugbar input[type="datetime-local"]:disabled::-webkit-clear-button,
.phpdebugbar-openhandler input[type="datetime-local"]:disabled::-webkit-clear-button,
.phpdebugbar input[type="datetime-local"]:disabled::-webkit-inner-spin-button,
.phpdebugbar-openhandler input[type="datetime-local"]:disabled::-webkit-inner-spin-button,
.phpdebugbar input[type="month"]:disabled::-webkit-clear-button,
.phpdebugbar-openhandler input[type="month"]:disabled::-webkit-clear-button,
.phpdebugbar input[type="month"]:disabled::-webkit-inner-spin-button,
.phpdebugbar-openhandler input[type="month"]:disabled::-webkit-inner-spin-button,
.phpdebugbar input[type="week"]:disabled::-webkit-clear-button,
.phpdebugbar-openhandler input[type="week"]:disabled::-webkit-clear-button,
.phpdebugbar input[type="week"]:disabled::-webkit-inner-spin-button,
.phpdebugbar-openhandler input[type="week"]:disabled::-webkit-inner-spin-button,
.phpdebugbar input:disabled::-webkit-calendar-picker-indicator,
.phpdebugbar-openhandler input:disabled::-webkit-calendar-picker-indicator,
.phpdebugbar input[type="date"][readonly]::-webkit-clear-button,
.phpdebugbar-openhandler input[type="date"][readonly]::-webkit-clear-button,
.phpdebugbar input[type="date"][readonly]::-webkit-inner-spin-button,
.phpdebugbar-openhandler input[type="date"][readonly]::-webkit-inner-spin-button,
.phpdebugbar input[type="datetime-local"][readonly]::-webkit-clear-button,
.phpdebugbar-openhandler input[type="datetime-local"][readonly]::-webkit-clear-button,
.phpdebugbar input[type="datetime-local"][readonly]::-webkit-inner-spin-button,
.phpdebugbar-openhandler input[type="datetime-local"][readonly]::-webkit-inner-spin-button,
.phpdebugbar input[type="month"][readonly]::-webkit-clear-button,
.phpdebugbar-openhandler input[type="month"][readonly]::-webkit-clear-button,
.phpdebugbar input[type="month"][readonly]::-webkit-inner-spin-button,
.phpdebugbar-openhandler input[type="month"][readonly]::-webkit-inner-spin-button,
.phpdebugbar input[type="week"][readonly]::-webkit-clear-button,
.phpdebugbar-openhandler input[type="week"][readonly]::-webkit-clear-button,
.phpdebugbar input[type="week"][readonly]::-webkit-inner-spin-button,
.phpdebugbar-openhandler input[type="week"][readonly]::-webkit-inner-spin-button,
.phpdebugbar input[readonly]::-webkit-calendar-picker-indicator,
.phpdebugbar-openhandler input[readonly]::-webkit-calendar-picker-indicator {visibility:hidden}
.phpdebugbar select,
.phpdebugbar-openhandler select {-webkit-appearance:menulist;box-sizing:border-box;align-items:center;border:1px solid;white-space:pre;-webkit-rtl-ordering:logical;color:black;background-color:white;cursor:default}
.phpdebugbar select:-internal-list-box,
.phpdebugbar-openhandler select:-internal-list-box {-webkit-appearance:listbox;align-items:flex-start;border:1px inset gray;border-radius:initial;overflow-x:hidden;overflow-y:scroll;vertical-align:text-bottom;-webkit-user-select:none;white-space:nowrap}
.phpdebugbar optgroup,
.phpdebugbar-openhandler optgroup {font-weight:bolder;display:block}
.phpdebugbar option,
.phpdebugbar-openhandler option {font-weight:normal;display:block;padding:0 2px 1px 2px;white-space:pre;min-height:1.2em}
.phpdebugbar select:-internal-list-box option,
.phpdebugbar-openhandler select:-internal-list-box option,
.phpdebugbar select:-internal-list-box optgroup,
.phpdebugbar-openhandler select:-internal-list-box optgroup {line-height:initial !important}
.phpdebugbar select:-internal-list-box:focus option:checked,
.phpdebugbar-openhandler select:-internal-list-box:focus option:checked {background-color:-internal-active-list-box-selection !important;color:-internal-active-list-box-selection-text !important}
.phpdebugbar select:-internal-list-box option:checked,
.phpdebugbar-openhandler select:-internal-list-box option:checked {background-color:-internal-inactive-list-box-selection !important;color:-internal-inactive-list-box-selection-text !important}
.phpdebugbar select:-internal-list-box:disabled option:checked,
.phpdebugbar-openhandler select:-internal-list-box:disabled option:checked,
.phpdebugbar select:-internal-list-box option:checked:disabled,
.phpdebugbar-openhandler select:-internal-list-box option:checked:disabled {color:gray !important}
.phpdebugbar output,
.phpdebugbar-openhandler output {display:inline}
.phpdebugbar meter,
.phpdebugbar-openhandler meter {-webkit-appearance:meter;box-sizing:border-box;display:inline-block;height:1em;width:5em;vertical-align:-0.2em}
.phpdebugbar meter::-webkit-meter-inner-element,
.phpdebugbar-openhandler meter::-webkit-meter-inner-element {-webkit-appearance:inherit;box-sizing:inherit;-webkit-user-modify:read-only !important;height:100%;width:100%}
.phpdebugbar meter::-webkit-meter-bar,
.phpdebugbar-openhandler meter::-webkit-meter-bar {background:linear-gradient(to bottom,#ddd,#eee 20%,#ccc 45%,#ccc 55%,#ddd);height:100%;width:100%;-webkit-user-modify:read-only !important;box-sizing:border-box}
.phpdebugbar meter::-webkit-meter-optimum-value,
.phpdebugbar-openhandler meter::-webkit-meter-optimum-value {background:linear-gradient(to bottom,#ad7,#cea 20%,#7a3 45%,#7a3 55%,#ad7);height:100%;-webkit-user-modify:read-only !important;box-sizing:border-box}
.phpdebugbar meter::-webkit-meter-suboptimum-value,
.phpdebugbar-openhandler meter::-webkit-meter-suboptimum-value {background:linear-gradient(to bottom,#fe7,#ffc 20%,#db3 45%,#db3 55%,#fe7);height:100%;-webkit-user-modify:read-only !important;box-sizing:border-box}
.phpdebugbar meter::-webkit-meter-even-less-good-value,
.phpdebugbar-openhandler meter::-webkit-meter-even-less-good-value {background:linear-gradient(to bottom,#f77,#fcc 20%,#d44 45%,#d44 55%,#f77);height:100%;-webkit-user-modify:read-only !important;box-sizing:border-box}
.phpdebugbar progress,
.phpdebugbar-openhandler progress {-webkit-appearance:progress-bar;box-sizing:border-box;display:inline-block;height:1em;width:10em;vertical-align:-0.2em}
.phpdebugbar progress::-webkit-progress-inner-element,
.phpdebugbar-openhandler progress::-webkit-progress-inner-element {-webkit-appearance:inherit;box-sizing:inherit;-webkit-user-modify:read-only;height:100%;width:100%}
.phpdebugbar progress::-webkit-progress-bar,
.phpdebugbar-openhandler progress::-webkit-progress-bar {background-color:gray;height:100%;width:100%;-webkit-user-modify:read-only !important;box-sizing:border-box}
.phpdebugbar progress::-webkit-progress-value,
.phpdebugbar-openhandler progress::-webkit-progress-value {background-color:green;height:100%;width:50%;-webkit-user-modify:read-only !important;box-sizing:border-box}
.phpdebugbar u,
.phpdebugbar-openhandler u,
.phpdebugbar ins,
.phpdebugbar-openhandler ins {text-decoration:underline}
.phpdebugbar strong,
.phpdebugbar-openhandler strong,
.phpdebugbar b,
.phpdebugbar-openhandler b {font-weight:bold}
.phpdebugbar cite,
.phpdebugbar-openhandler cite,
.phpdebugbar em,
.phpdebugbar-openhandler em,
.phpdebugbar var,
.phpdebugbar-openhandler var,
.phpdebugbar address,
.phpdebugbar-openhandler address,
.phpdebugbar dfn,
.phpdebugbar-openhandler dfn {font-style:italic}
.phpdebugbar tt,
.phpdebugbar-openhandler tt,
.phpdebugbar code,
.phpdebugbar-openhandler code,
.phpdebugbar kbd,
.phpdebugbar-openhandler kbd,
.phpdebugbar samp,
.phpdebugbar-openhandler samp {font-family:monospace}
.phpdebugbar pre,
.phpdebugbar-openhandler pre,
.phpdebugbar xmp,
.phpdebugbar-openhandler xmp,
.phpdebugbar plaintext,
.phpdebugbar-openhandler plaintext,
.phpdebugbar listing,
.phpdebugbar-openhandler listing {display:block;font-family:monospace;white-space:pre;margin:1 __qem 0}
.phpdebugbar mark,
.phpdebugbar-openhandler mark {background-color:yellow;color:black}
.phpdebugbar big,
.phpdebugbar-openhandler big {font-size:larger}
.phpdebugbar small,
.phpdebugbar-openhandler small {font-size:smaller}
.phpdebugbar s,
.phpdebugbar-openhandler s,
.phpdebugbar strike,
.phpdebugbar-openhandler strike,
.phpdebugbar del,
.phpdebugbar-openhandler del {text-decoration:line-through}
.phpdebugbar sub,
.phpdebugbar-openhandler sub {vertical-align:sub;font-size:smaller}
.phpdebugbar sup,
.phpdebugbar-openhandler sup {vertical-align:super;font-size:smaller}
.phpdebugbar nobr,
.phpdebugbar-openhandler nobr {white-space:nowrap}
.phpdebugbar :focus,
.phpdebugbar-openhandler :focus {outline:auto 5px -webkit-focus-ring-color}
.phpdebugbar html:focus,
.phpdebugbar-openhandler html:focus,
.phpdebugbar body:focus,
.phpdebugbar-openhandler body:focus,
.phpdebugbar input[readonly]:focus,
.phpdebugbar-openhandler input[readonly]:focus {outline:none}
.phpdebugbar applet:focus,
.phpdebugbar-openhandler applet:focus,
.phpdebugbar embed:focus,
.phpdebugbar-openhandler embed:focus,
.phpdebugbar iframe:focus,
.phpdebugbar-openhandler iframe:focus,
.phpdebugbar object:focus,
.phpdebugbar-openhandler object:focus {outline:none}
.phpdebugbar input:focus,
.phpdebugbar-openhandler input:focus,
.phpdebugbar textarea:focus,
.phpdebugbar-openhandler textarea:focus,
.phpdebugbar keygen:focus,
.phpdebugbar-openhandler keygen:focus,
.phpdebugbar select:focus,
.phpdebugbar-openhandler select:focus {outline-offset:-2px}
.phpdebugbar input[type="button"]:focus,
.phpdebugbar-openhandler input[type="button"]:focus,
.phpdebugbar input[type="checkbox"]:focus,
.phpdebugbar-openhandler input[type="checkbox"]:focus,
.phpdebugbar input[type="file"]:focus,
.phpdebugbar-openhandler input[type="file"]:focus,
.phpdebugbar input[type="hidden"]:focus,
.phpdebugbar-openhandler input[type="hidden"]:focus,
.phpdebugbar input[type="image"]:focus,
.phpdebugbar-openhandler input[type="image"]:focus,
.phpdebugbar input[type="radio"]:focus,
.phpdebugbar-openhandler input[type="radio"]:focus,
.phpdebugbar input[type="reset"]:focus,
.phpdebugbar-openhandler input[type="reset"]:focus,
.phpdebugbar input[type="search"]:focus,
.phpdebugbar-openhandler input[type="search"]:focus,
.phpdebugbar input[type="submit"]:focus,
.phpdebugbar-openhandler input[type="submit"]:focus,
.phpdebugbar input[type="file"]:focus::-webkit-file-upload-button,
.phpdebugbar-openhandler input[type="file"]:focus::-webkit-file-upload-button {outline-offset:0}
.phpdebugbar a:-webkit-any-link,
.phpdebugbar-openhandler a:-webkit-any-link {color:-webkit-link;text-decoration:underline;cursor:auto}
.phpdebugbar a:-webkit-any-link:active,
.phpdebugbar-openhandler a:-webkit-any-link:active {color:-webkit-activelink}
.phpdebugbar ruby,
.phpdebugbar-openhandler ruby,
.phpdebugbar rt,
.phpdebugbar-openhandler rt {text-indent:0}
.phpdebugbar rt,
.phpdebugbar-openhandler rt {line-height:normal;-webkit-text-emphasis:none}
.phpdebugbar ruby >rt,
.phpdebugbar-openhandler ruby >rt {display:block;font-size:50%;text-align:start}
.phpdebugbar ruby >rp,
.phpdebugbar-openhandler ruby >rp {display:none}
.phpdebugbar noframes,
.phpdebugbar-openhandler noframes {display:none}
.phpdebugbar frameset,
.phpdebugbar-openhandler frameset,
.phpdebugbar frame,
.phpdebugbar-openhandler frame {display:block}
.phpdebugbar frameset,
.phpdebugbar-openhandler frameset {border-color:inherit}
.phpdebugbar iframe,
.phpdebugbar-openhandler iframe {border:2px inset}
.phpdebugbar details,
.phpdebugbar-openhandler details {display:block}
.phpdebugbar summary,
.phpdebugbar-openhandler summary {display:block}
.phpdebugbar summary::-webkit-details-marker,
.phpdebugbar-openhandler summary::-webkit-details-marker {display:inline-block;width:0.66em;height:0.66em;-webkit-margin-end:0.4em}
.phpdebugbar textarea[dir=auto],
.phpdebugbar-openhandler textarea[dir=auto] {unicode-bidi:-webkit-plaintext}